#heading {
    height: 74px;
    width: 518px;
    margin: 0 auto;
    background-color: white;
}

h1 {
    color: navy;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h2 {
    color: navy;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.75px;
    
}

#answer-area {
    height: 220px;
    width: 518px;
    margin: 0 auto;
}

#user-section {
    height: 220px;
    width: 190px;
    float: left;
    display: inline-block;
}

#user-selection {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 20px;
}

#user-selection-image {
    border-radius: 50%;
}

#user-background {
    background-color: rgba(28,30,81,255);
    border-top: 2px solid rgba(28,30,81,255);
    border-right: 4px solid rgba(28,30,81,255);
}

#user-score-h2 {
    float: left;
    margin-left: 35px;
}

#result {
    height: 220px;
    width: 138px;
    margin-top: px;
    margin-right: ;
    display: inline-block;
}

#outOfFive {
    color: white;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    height: 60px;
    width: 110px;
    background-color: rgba(28,30,81,0.7);
    border: 5px solid lightgrey;
    border-style: outset;
}

#outOfTen {
    color: white;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    height: 60px;
    width: 110px;
    background-color: rgba(28,30,81,0.7);
    border: 5px solid lightgrey;
    border-style: outset;
}

#result h2{
    width: 138px;
    margin-top: 10px;
    text-align: center;
}

#computer-section {
    height: 220px;
    width: 190px;
    float: right;
    display: inline-block;
}

#computer-selection {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
}

#computer-selection-image {
    border-radius: 50%;
}

#computer-background {
    background-color: rgba(28,30,81,255);
    border-top: 2px solid rgba(28,30,81,255);
    border-right: 4px solid rgba(28,30,81,255);
}

#computer-score-h2 {
    float: left;
    margin-left: 5px;
}

#game-area {
    background: url('../images/game-background.jpg') no-repeat center 0px;
    height: 518px;
    width: 100%;
}

#button-area {
    width: 518px;
    height: 518px;
    margin: 0 auto;
}

#rock-button {
    background: url('../images/rock.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin-top: 34px;
    margin-left: 184px;
    position: relative;
}

#paper-button {
    background: url('../images/paper.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin-top: -42px;
    margin-right: 25px;
    float: right;
    position: relative;
}

#scissors-button {
    background: url('../images/scissors.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin-top: 135px;
    margin-right: -96px;
    float: right;
}

#lizard-button {
    background: url('../images/lizard.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin-top: 135px;
    margin-left: 87px;
    float: left;
}

#spock-button {
    background: url('../images/spock.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin-top: -331px;
    margin-left: 28px;
    float: left;
}