#heading {
    height: 100px;
}

h1 {
    color: red
}

#answer-area {
    height: 600px;
}

#user-selection {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    background-color: red;
    float: left;
}

#computer-selection {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    background-color: green;
    float: right;
}

#game-area {
    background: url('../images/game-background.jpg') no-repeat center 0px;
    height: 1000px;
    width: 100%;
}

#rock-button {
    background: url('../images/rock.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    margin: 100px auto;

}

#paper-button {
    background: url('../images/paper.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    display: block;
    margin: -30px auto 100px;
    float: right;
}

#scissors-button {
    background: url('../images/scissors.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    display: block;
    margin: 60px auto 0px;
    float: right;
}

#lizard-button {
    background: url('../images/lizard.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    display: block;
    margin: 90px auto 0px;
    float: left;
}

#spock-button {
    background: url('../images/spock.jpg') no-repeat center center;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border-color: white;
    display: block;
    margin: 120px auto 0px;
    float: left;
}